<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin 
  xmlns="http://www.phonegap.com/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" 
  xmlns:rim="http://www.blackberry.com/ns/widgets" id="edit-android-manifest" version="1.0.0">
  <name>edit-manifest</name>
  <description>Changes AndroidManifest.xml by setting android:allowBackup and android:debuggable to false.</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-android" version=">=6.0.0"/>
  </engines>
  <hook type="before_plugin_install" src="hooks/dependencyInstaller.js"/>
  <platform name="android">
    <preference name="NOT_NEEDED_PERMISSIONS" />
    <config-file target="res/xml/config.xml" parent="/*">
        <preference name="NOT_NEEDED_PERMISSIONS">$NOT_NEEDED_PERMISSIONS</preference>
    </config-file>
    
    <!-- <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge"> -->
    <!-- <application android:allowBackup="false"/> -->
    <!-- </edit-config> -->
    <!-- <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge"> -->
    <!-- <manifest xmlns:tools="http://schemas.android.com/tools" /> -->
    <!-- </edit-config> -->
    
    <!-- <config-file target="AndroidManifest.xml" parent="/manifest"> -->
    <!--      <application android:allowBackup="false"/> -->
    <!-- </config-file> -->
    
    <!-- <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android" > -->
    <!--  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" /> -->
    <!-- </config-file> -->
    
    <!--<hook type="after_prepare" src="hooks/add_tools_namespace.js" />-->
    <hook type="before_compile" src="hooks/disableAndroidBackup.js"/>
    <!-- <hook type="before_compile" src="hooks/updatePermissions.js"/> -->
  </platform>
</plugin>
